
.person-img {
  border-radius: 6px;
  width: 95%;
}

.person-social {
  display: inline-block;
  height: 18px;
  margin-left: 5px;
}

.person-social a {
  width: 29px;
  overflow: hidden;
  float: left;
  border-bottom: 0px;
}

.person-social i {
  font-size: 28px;
  margin-right: 5px;
}

.person-github {
  margin-bottom:30px;
}

.person-github section {
  border: 1px solid #efefef;
  border-radius: 6px;
  padding: 5px;
  background-color:white;
}

.faq section {
  border: 1px solid #efefef;
  border-radius: 6px;
  padding: 5px;
  background-color:white;
  margin-bottom: 10px;
}

.faq-question {
  font-weight: bold;
  font-size: 24px;
  margin: 4px;
}

.faq-question::before {
  /* content: "Q: "; */
}

.faq-answer {
  margin: 4px;
}

.faq-answer::before {
  /* content: "A: "; */
}

.faq-tags {
	text-align: right;
	font-size: 12px;
}

/** Code of Conduct Bullet Styles **/

ul {
  list-style-type: disc;
}

ul > li {
  margin-left: 2.4em;
}

/** Resources section **/
.resource-params {
  text-align: left;
  font-size: 12pt;
  padding: 1em;
}

.resource-desc {
  text-align: justify;
  font-size: 12pt;
  padding: 1em;
  line-height: 16pt;
}
