<header id="header">
				<h1 id="logo"><a href="/">CHS<span>TECH</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
						<li class="submenu">
							<a href="">Resources</a>
							<ul>
								<li><a href="/conduct/">Code of Conduct</a></li>
								<li><a href="/slack/">Slack</a></li>
								<li><a href="/people/">People</a></li>
								<li><a href="/companies/">Companies</a></li>
							</ul>
						</li>
                        			<li><a href="/faq/">FAQ</a></li>
					</ul>
				</nav>
			</header>
